.nav-bar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: sticky;
  top: 0;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px;
}

.nav-bar li {
  display: flex;
  list-style: none;
  height: 44px;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #d14043;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

/* General CSS Change my ubication */

.paren {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: black !important;
  }