.nav-bar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 0px;
}

.nav-bar li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
